* {
  margin: 0;
  font-family: roboto;
}
body {
  background-color: #E3F8F5; /*A changer pour la vraie couleur #E3F8F5*/
  margin: 0;
  padding: 0px;
  display: block;
}

h1,
h2,
h3 {
  text-align: center;
}
nav {
  padding: 10px;
  color: #24e5db;
  background-color: #002f34;
}

.searchBar {
  width: 50%;
  height: 50px;
  background-color: white;
  display: flex;
  margin: 25px auto;
  border-radius: 10px;
}

.searchBar label {
  margin: 0 8px;
  opacity: 50%;
}
.searchBar input {
  width: 400px;
  height: 45px;
  margin: 0;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  right: 0px;
}

.searchBar button {
  float: right;
  width: 150px;
  height: 50px;
  margin-right: 0;
  margin-left: auto;
  background-color: #24e5db;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}

.searchBar button:hover {
  background-color: rgb(189, 189, 189);
}
.separator {
  margin: auto 8px;
}

.fa {
  margin: auto 5px;
}

select {
  border: none;
  background-color: #fff;
}

/*Container des catégories*/

.categories {
  padding-top: 20px; /* Pour ajouter un espace au dessus du titre h2*/
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  width: 75%;
  height: 200px;
}

.container {
  padding-top: 20px; /* Pour ajouter un espace au dessus du cotainer*/
  width: auto;
  margin: auto;
  position: relative;
}

.container img {
  margin: 0 50px;
  width: 60%; /*Comme les nouvelles images locales ne sont pas de la meme taill, il faut les mettre a la meme resolution et maintenir le pourcentage pour avoir un site plus responsive*/
  border-radius: 10px;
}

.container button {
  margin: 0 50px;
  background-color: #E3F8F5; /*TODO- A changer la couleur plus tard*/
  border: none;
  height: 30px;
  width: 60%;
  border-radius: 5px;
  position: absolute;
  bottom: 4px;
  left: 0;
}
.flex {
  margin: auto;
  display: flex;
}
.container button:hover {
  background-color: #24E5DB; /*TODO- A changer la couleur HOVER plus tard*/
}

.starredUsers {
  margin: 20px auto;
  padding-top: 20px; /* Pour ajouter un espace au dessus du titre h2*/
  background-color: #fff;
  border-radius: 10px;
  width: 75%;
  height: 250px;
}

.user {
  padding-top: 20px; /* Pour ajouter un espace au dessus du cotainer*/
  width: auto;
  margin: auto;
  position: relative;
}

.user img {
  margin: 0 50px;
  width: 50%; /*Comme les nouvelles images locales ne sont pas de la meme taill, il faut les mettre a la meme resolution et maintenir le pourcentage pour avoir un site plus responsive*/
  border-radius: 10px;
}

.user a {

  margin: 0 50px;
  background-color: rgba(227, 248, 245, 0.5); /*TODO- A changer la couleur plus tard*/
  text-align: center;
  height: 30px;
  color:#E3F8F5;
  width: 50%;
  border-radius: 5px;
  position: absolute;
  bottom: 4px;
  left: 0;
}

.user a:hover {
  background-color: rgba(0, 255, 242, 0.781)
}

.articleshot {
  margin: 20px auto;
  padding-top: 20px; /* Pour ajouter un espace au dessus du titre h2*/
  background-color: #fff;
  border-radius: 10px;
  width: 75%;
  height: 250px;
}