<!DOCTYPE html>
<html>
   <head>
      <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
      <link href="css/main.css" rel="stylesheet"/>
      <link href="css/all.min.css" rel="stylesheet"/>
      <!--...<link href="css/bootstrap.min.css" rel="stylesheet" />-->
      
      <title>Accueil</title>
   </head>
   <body id="bootstrap-overrides">
         <nav class="nav">
             <h2>Anubis</h2>
         </nav>
         <div class="back">
           <div class="btn">
              <i class="fa fa-arrow-left"></i>
              Revenir
            </div>
         </div>
         <div class="affichage">
            <div class="images">
               <div class="dots">
                  <i class="fa fa-circle" style="color: white"></i>
                  <i class="fa fa-circle" style="color: white"></i>
                  <i class="fa fa-circle" style="color: white"></i>
               </div>
            </div>
         
            <div class="userinfo">
               <img src="img/user3.jpg">
               <h3>Username</h3>
               <h4>Region</h4>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. lorem ipsum dolor sit amet.</p>
               <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half"></i>
               </div>
            </div>
         </div>
      </body>
</html>