<!DOCTYPE html>
<html>
   <head>
      <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
      <link href="css/main.css" rel="stylesheet"/>
      <link href="css/all.min.css" rel="stylesheet"/>
      <link href="css/bootstrap.min.css" rel="stylesheet"/>

      <title>Accueil</title>
   </head>
   <body>
         <div class="back">
           <div class="btn">
              <i class="fa fa-arrow-left"></i>
              Revenir
            </div>
         </div>
         <div class="affichage">
            <div class="images">
               <div class="dots">
                  <i class="fa fa-circle" style="color: white"></i>
                  <i class="fa fa-circle" style="color: white"></i>
                  <i class="fa fa-circle" style="color: white"></i>
               </div>
            </div>
         
            <div class="userinfo">
               <img src="img/user3.jpg">
               <h3>Username</h3>
               <h4>Region</h4>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget magna fermentum iaculis eu non diam. Proin nibh nisl condimentum id.</p>
               <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half"></i>
               </div>
               <button class="seemore">Voir toutes ses annonces</button>
               <button class="contact">Contacter</button>
            </div>
         </div>
         <div class="description">
            <h3>Microphone usb ports</h3>
            <h4>451.-</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Auctor elit sed vulputate mi sit amet mauris. At in tellus integer feugiat scelerisque varius morbi enim. Aliquam sem fringilla ut morbi. Phasellus vestibulum lorem sed risus ultricies. Eget nullam non nisi est sit. Tellus orci ac auctor augue mauris augue neque. Dictum varius duis at consectetur lorem donec massa sapien. Risus quis varius quam quisque id diam vel quam. Enim neque volutpat ac tincidunt vitae. Nisl vel pretium lectus quam. Nec tincidunt praesent semper feugiat nibh sed pulvinar proin. Venenatis cras sed felis eget. Egestas congue quisque egestas diam in arcu cursus euismod. Lacus vel facilisis volutpat est velit egestas dui id ornare.
               Elementum pulvinar etiam non quam lacus suspendisse faucibus interdum posuere. Porttitor leo a diam sollicitudin tempor id eu. Donec pretium vulputate sapien nec sagittis aliquam malesuada. Non enim praesent elementum facilisis leo vel fringilla est ullamcorper. Nunc mattis enim ut tellus elementum sagittis. Tincidunt praesent semper feugiat nibh sed pulvinar. Molestie at elementum eu facilisis. Lacus sed turpis tincidunt id aliquet risus. Pretium aenean pharetra magna ac. Turpis in eu mi bibendum neque. At auctor urna nunc id. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit. Vel facilisis volutpat est velit egestas dui id ornare arcu. Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. Nulla aliquet porttitor lacus luctus.</p>
         </div>
      </body>
</html>