<!DOCTYPE html>
<html>
   <head>
      <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
      <link href="css/main.css" rel="stylesheet" />
      <link href="css/all.min.css" rel="stylesheet" />
      <!--...<link href="css/bootstrap.min.css" rel="stylesheet" />-->
      
      <title>Accueil</title>
   </head>
   <body>
        <nav class="nav">
             <h2>Anubis</h2>
        </nav>
        <div class="searchBar">
           <i class="fa fa-search fa-divide"></i>
           <p>6456 Produits dans votre region</p>
           <hr width="1" size="23%" class="separator">
           <i class="fa fa-location-arrow"></i>
           <p>Region</p>
        </div>
   </body>
</html>