<!DOCTYPE html>
<html>
   <head>
      <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
      <link href="css/main.css" rel="stylesheet" />
      <link href="css/all.min.css" rel="stylesheet" />
      <link href="css/bootstrap.min.css" rel="stylesheet" />
      
      <title>Accueil</title>
   </head>
   <body>
             <i class="fa-square-arrow-up-right"></i>
        <nav class="nav">
          <ul>
             <h2>Anubis</h2>
          </ul>
        </nav>
        <div class="searchBar">
        
          </div>
   </body>
</html>