<!DOCTYPE html>
<html>
   <head>
      <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
      <link href="css/main.css" rel="stylesheet"/>
      <link href="css/all.min.css" rel="stylesheet"/>
      <!--...<link href="css/bootstrap.min.css" rel="stylesheet" />-->
      
      <title>Accueil</title>
   </head>
   <body id="bootstrap-overrides">
         <nav class="nav">
             <h2>Anubis</h2>
         </nav>
         <div class="back">
           <div class="btn">
              <i class="fa fa-arrow-left"></i>
              Revenir
            </div>
         </div>

         <div class="userprofile">
            <img src="img/user3.jpg">
            <h3>Username</h3>
            <h4>Region</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget magna fermentum iaculis eu non diam. Proin nibh nisl condimentum id.</p>
            <h4 class="avis">Avis des clients</h3>
            <div class="rating">
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star"></i>
               <i class="fa fa-star-half"></i>
            </div>
            <button class="seemore">Voir toutes ses annonces</button><br>
            <button class="profilecontact">Contacter</button>
         </div>
         <div class="personalinfo">
            <h1>Informations personnelles</h1>
            <div class="parent">
               <div class="div1">Nom</div>
               <div class="div2">Adresse</div>
               <div      class="div3">Email</div>
               <div class="div4">N° Tel</div>
               <div class="div6">Pedro </div>
               <div class="div7">Route de la fortune 18</div>
               <div class="div8">pedroyverdon@gmail.com</div>
               <div class="div9">0786771074</div>
               <div class="Reseaux">
                  <h2>Réseaux</h2>
                  <div class="div11"><i class="fa fa-envelope" style="font-size:48px"></i></div>
                  <div class="div12"><i class="fab fa-twitter" style="font-size:48px"></i></div>
                  <div class="div13"><i class="fab fa-facebook" style="font-size:48px"></i></div>
               </div>
            </div>
         </div>
      </body>
</html>